html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/styles/front/mainStyle.css")
    link(rel="stylesheet" type="text/css" href="/styles/partials/headerStyle.css")
    link(rel="stylesheet" type="text/css" href="/styles/signed/userProfiles.css")
    link(rel="stylesheet" type="text/css" href="/styles/signed/group.css")
    link(rel="stylesheet" type="text/css" href="/styles/signed/addTheGroup.css")
    link(rel="stylesheet" type="text/css" href="/styles/signed/calendar.css")
    link(rel="stylesheet" type="text/css" href="/styles/signed/addToCal.css")
    link(rel="stylesheet" type="text/css" href="/styles/signed/addTeam.css")
  body
    div#headerDiv.noSpaces
      div#centerHeadContent
        a(href="/users/#{id}")
          div#headerTitle
            h1#headerTitleText TeamBuilder
        a(href="/users/#{id}/addGroup")#headerAddGroup.gray Add Group
        a(href="/logout")#logOut.gray Log Out
        a(href="/users/#{id}/calendar")#headerCalendar.gray Calendar
        a(href="/users/#{id}/addTeam")#headerAddTeam.gray Add Team

    div#mainBox
      block content
