extends logged
block content
  div#showSomething
    h1= name
    h1= description
    h1= sport
  a(href="/users/#{id}/teams/#{teamId}")#removeTeam Remove Team
  script var teamId = !{JSON.stringify(teamId)}; var userId = !{JSON.stringify(id)};
  script
    include ../../public/javascript/deleteTeam.js
