extends logged
block content
  div#sidebar.gray
    h2#sidabarHeader Teams:
    ul#personalInfoUl
      - b = teams.length
      - for(let i = 0; i < b; i++){
          a(href="/users/#{id}/teams/#{teams[i].id}").personalInfo #{teams[i].name}
          br
      - }
    h2#sidebarHeader Groups:
    ul
    - a = group.length
    - for(let i = 0; i < a; i++){
      - groupPath = group[i].id
      a(href="/users/#{id}/group/#{groupPath}").myGropes #{group[i].name}
    - }
  div#profilePicDiv
  h1#nameOfUser #{fname} #{lname}
  div#personalInfo
    h3 User Info
    ul#personalInfoUl
      li.personalInfoLi Username: #{username}
      li.personalInfoLi Email: #{email}
      li.personalInfoLi Address: #{address} #{postcode}, #{city}
  div#showGroups
  a(href="/logout")#removeUser Delete User
  script var userId = !{JSON.stringify(id)};
  script
    include ../../public/javascript/deleteUser.js
