extends logged
block content
  div#profilePicDiv
  h1#nameOfUser #{fname} #{lname}
  div#personalInfo
    h3 User Info
    ul#personalInfoUl
      li.personalInfoLi Username: #{username}
      li.personalInfoLi Email: #{email}
      li.personalInfoLi Address: #{address} #{postcode}, #{city}
    h3 Users Teams
    ul#personalInfoUl
      - b = teams.length
      - for(let i = 0; i < b; i++){
        a(href="/users/#{id}/teams/#{teams[i].id}").personalInfo #{teams[i].name}
      - }
  div#showGroups
    h1#myGroups Groups
      - a = group.length
      - for(let i = 0; i < a; i++){
      - groupPath = group[i].id
      a(href="/users/#{id}/group/#{groupPath}").myGropes
        p #{groupName[i]}
      - }
